.Header {
  z-index: 2;
  position: fixed;
  background: transparent;
  padding: 26px 16px;
  &-logo {
    display: block;
    fill: #fff;
    width: 130px;
    height: 32px;
  }
  &-arrowIcon {
    width: 14px;
    height: 10px;
    stroke: #fff;
  }
  &-phoneIcon {
    display: block;
    width: 10px;
    height: 14px;
    fill: #fff;
  }
  &-phoneLink {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 12px;
    text-decoration: none;
  }
}


@media (min-width: 375px) and (max-width: 1024px) {

}
